# python cache
__pycache__/
__pycache__/**
# python environment
.python-version
pyrightconfig.json

road_traffic_fine_management_process.xes
BPI_Challenge_2012.xes
BPI_Challenge_2012-max_length_45.xes
BPI_Challenge_2017.xes
BPI_Challenge_2017-max_length_45.xes
BPI_Challenge_2019.xes
BPI_Challenge_2019-max_length_45.xes
